<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheet %}
        <link rel='stylesheet' href="{{asset('styles/view.css')}}"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="{{asset('styles/js/jquery.js')}}"></script>
        <script src="{{asset('styles/js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
